html, body{
	margin: 0;
	padding: 0;
	color: #000;
	height: 100%;
}

body {
	background: rgba(147, 149, 152, 0.40);
}

p {
	font-size: 14px;
	line-height: 1.5em;
}

/* nav */ 
.navbar{
	display: inline;
	font-size: 16px;
	text-align: center;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	background: rgb(147, 149, 152);
	max-height: 80px;
}

.navbar img{
	height: 70px;
}

.navbar .row {
	display: inline-block;
	width: 100%;
}

.navbar .col-sm-2 {
	text-align: center;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 5px;
}

.navbar .col-sm-2 a{
	text-decoration: none;
	color: #fff;
	height: 100%;
	border-bottom: 2px solid #ED70A7;
}

.navbar .col-sm-2 a:hover{
	color: #ED70A7;
}

.navbar h2 {
	color: #ED70A7;
}

/* Jumbotron */
.jumbotron {
	color: #ED70A7;
}

.jumbotron .info {
	text-align: center;
	position: relative;
	padding: 300px 0;
}

.jumbotron h1 {
	font-size: 122px;
}

.jumbotron img {
	margin-top: 100px;
	height: 70px;
	position: relative;
}

/* Om Oss */
.omOss {
	display: block;
	text-align: center;
	padding-bottom: 20px;
	margin: 20px auto ;
	padding-top: 20px;
	width: 100%;
}

.omOss h1 {
	padding: 30px 5px 25px 5px;
	color: #ED70A7;
	margin-top: 50px;
}

.omOss h2 {
	padding: 25px 5px;
	color: #ED70A7;
}

.omOss h3{
	text-transform: uppercase;
	color: #ED70A7;
	text-decoration: uppercase;
	letter-spacing: 0.1em;
}

.omOss .col-md-6 {
	height: 400px;
	overflow: scroll;
}

.omOss p {
	font-size: 16px; 
	line-height: 2em;
}

.omOss a {
	color: #000;
	font-size: 15px;
	border-bottom: 1px solid #ED70A7;
}

.omOss a:hover {
	color: #ED70A7;
	text-decoration: none;
}


/* Bli Deltaker*/
.bliDeltaker {
	margin-bottom: 50px;
	font-weight: 900;
}

.bliDeltaker h1{
	text-align: center;
	color: #ED70A7;
	padding: 25px 5px 20px 5px;
}

.kontaktOss {
	display: inline-block;
	width: 100%;
}

.kontaktOss .col-md-4{
	text-align: center;
	height: 150px;
	margin-bottom: 100px;

}

.kontaktOss h2 {
	color: #ED70A7;
	padding-bottom: 20px;
}

.kontaktOss p {
	font-size: 14px;
}

.kontaktOss a {
	color: #000;
	font-size: 15px;
	border-bottom: 1px solid #ED70A7;
}

.kontaktOss a:hover {
	text-decoration: none;
	color: #ED70A7;
}

.kontaktOss form{
	margin: 80px auto 80px auto;
	text-align: center;
}

	.kontaktOss form h2{
		padding-bottom: 20px;
		font-size: 36px;
		text-transform: uppercase;
	}

	.kontaktOss form input, .kontaktOss form textarea{
		display: block;
		font-size: 16px;
		margin: 10px auto;
		width: 33%;
		outline: none;	
		color: black;	
		background: none;
		border: none;
		line-height: 25px;
	}

	.kontaktOss form input:hover, .kontaktOss form textarea:hover{
		background: #fff;
	}

	.kontaktOss form input:focus, .kontaktOss form textarea:focus{
		background: #fff;
	}

	.kontaktOss form textarea{
		resize: none;
		height: 100px;
	}

	.kontaktOss form #button{
		color: #ED70A7; 
		font-size: 16px;
		border: 1px solid #ED70A7;
	}


/* footer */ 
.footer {
	width: 100%;
	text-align: center;
	background: #fff;
	padding-top: 30px;
	padding-bottom: 20px;
}

.footer .row {
	height: 100px;
	width: 100%;
	margin-top: 25px;
	display: inline-block;
	margin: 18px auto 0 auto;
}


.footer a , .footer p{
	font-size: 20px;
	text-decoration: none;
	color: #000;
	position: relative;
	top: 35px;
}


.footer a:hover , .footer p:hover{
	text-decoration: none;
	color: #ED70A7;
}


.footer img {
	max-width: 90px;
	max-height: 90px;
}

.footer .linkToTop {
	text-align: center;
	font-weight: 900;
}

@media (max-width: 2000px) {
/* .jumbotron */ 
	.jumbotron .info {
		padding: 200px 0;
	}

}

@media (max-width: 767px) {
/* nav */ 
	.navbar .col-sm-2{
		visibility: hidden;
	}
	.jumbotron .info h1{
		font-size: 98px;
	}
}

